# Compiled class file
*.class
# java 编译后的文件
/target/
/test/
/test-output/

/out/
/META-INF/

# 文件本身
.gitignore

*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.stackdump
*.iml
*.iws
*.ipr

hs_err_pid*
target
doc
docs
bin/**
tmp/**
tmp/**/*
bin/
gen/
logs/
.font-spider/
proguard/
.settings/
.externalToolBuilders/

.idea
.gradle

out
gen
build
node_modules

*.pydevproject
.project
.metadata

*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath

.loadpath
.apk
*.cache
*.lock
*.gz
*.MF
*.png
log*.txt
*.launch
.cproject
.buildpath
.DS_Store
.sass-cache
.directory

AutoTest*.html
mapper.xml.vm
/shelf/
/workspace.xml
/dataSources/
/dataSources.local.xml
/httpRequests/